html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: black;
    align-items: center;
    padding: 20px 50px;
}

.search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 10px;
    border-radius: 10px;
}

.searchField {
    border: none;
    background-color: transparent;
}

.searchField::placeholder {
    color: white;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.limitedoffer {
    color: white;
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem {
    color: lightgrey;
    margin: 20px;
    cursor: pointer;
    font-weight: 400;
}

.slider {
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
    clip-path: polygon(0 1%, 100% 0%, 100% 100%, 0 85%);
    overflow: hidden;
}

.sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all 1.0s ease-in-out;
}

.sliderBg {
    background-color: yellow;
    width: 650px;
    height: 650px;
    border-radius: 50%;
    position: absolute;
}

.sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderImg {
    z-index: 1;
}

.sliderTitle {
    position: absolute;
    top: 10%;
    right: 10%;
    color: white;
    font-weight: 900;
    text-align: center;
    font-size: 50;
    z-index: 1;
}

.sliderPrice {
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 50;
    border: 2px solid green;
    z-index: 1;
}

.buyButton {
    position: absolute;
    color: white;
    background-color: black;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 900;
    border: 2px solid gray;
    cursor: pointer;
    z-index: 1;
}

.buyButton:hover {
    background-color: white;
    color: black;
}

.sliderItem:nth-child(1) .sliderBg {
    background-color: #369e62;
}

.sliderItem:nth-child(2) .sliderBg {
    background-color: rebeccapurple;
}

.sliderItem:nth-child(3) .sliderBg {
    background-color: teal;
}

.sliderItem:nth-child(4) .sliderBg {
    background-color: cornflowerblue;
}

.sliderItem:nth-child(5) .sliderBg {
    background-color: rgb(124, 115, 80);
}

.features {
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
}

.feature {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.featureIcon {
    width: 50px;
    height: 50px;
}

.featureTitle {
    font-size: 20px;
    font-weight: 500;
    margin: 20px;
}

.featureDesc {
    color: gray;
    width: 50%;
    height: 100px;
}

.product {
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}

.payment {
    width: 500px;
    height: 500px;
    display: none;
    flex-direction: column;
    padding: 10px 50px;
    position: absolute;
    background-color: white;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    -webkit-box-shadow: 5px 5px 35px 5px #000000;
    box-shadow: 5px 5px 35px 5px #000000;
}

.payTitle {
    font-size: 30px;
    color: lightgray;
}

.payInput {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}

.sm {
    width: 30%;
}

.close {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: gray;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
}

.payButton {
    position: absolute;
    height: 40px;
    width: 100%;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    background-color: #369e62;
    color: white;
    border: none;
    cursor: pointer;
}

.productImg {
    width: 50%;
}

.productDetails {
    position: absolute;
    top: 10%;
    right: 0%;
    width: 40%;
    padding: 50px;
}

.productTitle {
    font-weight: 900;
    font-size: 75px;
}

.productDesc {
    font-style: 24px;
    color: gray;
}

.colors,
.sizes {
    display: flex;
    margin-bottom: 20px;
}

.color {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: black;
    margin-right: 10px;
    cursor: pointer;
}

.size {
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.productButton {
    padding: 20px 30px;
    float: right;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: 600;
}

.productButton:hover {
    background-color: white;
    color: black;
}

.color:last-child {
    background-color: darkblue;
}

.gallery {
    padding: 50px;
    display: flex;
}

.galleryItem {
    flex: 1;
    padding: 50px;
}

.galleryImg {
    width: 100%;
}

.galleryTitle {
    text-align: center;
}